#{extends 'internalMain.html' /}
#{set title:'Simulador de revisional' /}


<form id="formSimulador" class="form-horizontal" onsubmit="calcular();">
	<fieldset>
		<div class= "tableDiv ">
		
			<div class="control-group"> 
				<label class="control-label" for="tipo_pessoa">Tipo de Cliente</label>
				<div class="controls">
				 	<div class="btn-group" name="tipo_pessoa" id="tipo_pessoa" data-toggle="buttons-radio" >
				  		<button type="button" name="tpPessoa" value="F" onClick="apresentaDivTipoFincto(this.value);" class="btn active" data-toggle="button">Físico</button>
				  		<button type="button" name="tpPessoa" value="J" onClick="apresentaDivTipoFincto(this.value);" class="btn" data-toggle="button">Jurídico</button>
					</div>
			    </div>
		    </div>  
		
		 	<div class="control-group" id="tpF"> 
			 	<label class="control-label" for="tipoFinanciamento">Tipo de Financiamento</label>
			 	<div id="tipoFinanciamentoFisica" class="controls">
				 	<div class="btn-group" id="tipo_financiamento_fisica"  data-toggle="buttons-radio" >
				  		<button type="button" value="V" class="btn active" data-toggle="button">Veículo</button>
				  		<button type="button" value="C" class="btn" data-toggle="button">Cheque Especial</button>
				  		<button type="button" value="P" class="btn" data-toggle="button">Crédito Pessoal</button>
				  		<button type="button" value="I" class="btn" data-toggle="button">Crédito Imobiliário</button>
				  		<button type="button" value="O" class="btn" data-toggle="button">Outros</button>
					</div>	
				</div>
			</div>
			
			<div class="control-group" id="tpJ">
			<label class="control-label" for="tipoFinanciamento">Tipo de Financiamento</label>
			 	<div id="tipoFinanciamentoJuridica"  class="controls">
				 	<div class="btn-group" data-toggle-name="tipo_financiamento_juridica" data-toggle="buttons-radio" >
				  		<button type="button" value="G" class="btn active" data-toggle="button">Capital de Giro</button>
				  		<button type="button" value="T" class="btn" data-toggle="button">Conta Garantida</button>
				  		<button type="button" value="A" class="btn" data-toggle="button">Aquisição de Bens</button>
				  		<button type="button" value="D" class="btn" data-toggle="button">Vendor</button>
				  		<button type="button" value="H" class="btn" data-toggle="button">Hot Money</button>
				  		<button type="button" value="L" class="btn" data-toggle="button">Desconto Duplic.</button>
				  		<button type="button" value="S" class="btn" data-toggle="button">Desc. Promis.</button>
					</div>	
				</div>	
			</div>
			
			<div class="control-group"> 
				<label class="control-label" for="vlrFinanciado">Valor Financiado</label>
				<div class="controls">
				    <input type="text" class="input-medium" id="vlrFinanciado" name="vlrFinanciado">
			    </div>
			</div>
			
			<div class="control-group"> 
				<label class="control-label" for="vlrParcelaAtual">Valor atual da parcela</label>
				<div class="controls">
				    <input type="text" class="input-medium" id="vlrParcelaAtual" name="vlrParcelaAtual">
			    </div>
			</div>
			
			<div class="control-group"> 
				<label class="control-label" for="qtdParcelas">Quantidade de parcelas</label>
				<div class="controls">
				    <input type="text" class="input-medium" id="qtdParcelas" name="qtdParcelas">
			    </div>
			</div>			

			<div class="control-group"> 
				<label class="control-label" for="qtdParcelas">Quantidade de parcelas pagas</label>
				<div class="controls">
				    <input type="text" class="input-medium" id="qtdParcelasPagas" name="qtdParcelasPagas" data-mask="999999">
			    </div>
			</div>	
			
			<div class= "clear"> </div>
			<label class="checkbox">
		      <input type="checkbox" onClick="apresentaDivMes();"> Cliente sabe o mês do financiamento
		    </label>	 	 
		    
		    <div class= "clear"> </div>
			<div id="mesFinanciamento">
				  <div class="input-append date" id="dpMonths" data-date="102/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
					<input class="span2" size="16" type="text" value="02/2012" readonly="">
					<span class="add-on"><i class="icon-calendar"></i></span>
				  </div>
		    </div>
		         
		    
		    <div class= "clear"> </div>
		    <div>
		    	<role="button" class="addButton btn btn-primary" data-toggle="modal" onClick="calcular()">Calcular</a>
		    </div>
		             
		    <div class= "clear"> </div>
			<div id="divCalculos">
			
				<span class="label label-important">Taxa de Juros Atual</span>
				<br />
				<input type="text" id="txtCalcVlrJurosAtual" name="calcVlrJurosAtual" disabled="disabled">
				
				<div class= "clear"/>
				
				<span class="label label-success">Nova Taxas de Juros</span>
				<br />
				<input type="text" id="txtCalcVlrJurosNovo" name="calcVlrJurosNovo" disabled="disabled">
				<div class= "clear"/>
						
				<span class="label label-important">Valor Pago Indevido</span>
				<br />
				<input type="text" id="txtCalcVlrPagoIndevido" name="txtCalcVlrPagoIndevido" disabled="disabled">
				<div class= "clear"/>
				
				<span class="label label-success">Valor de Nova Parcela</span>
				<br />
				<input type="text" id="txtCalcVlrNovaParcela" name="txtCalcVlrNovaParcela" disabled="disabled">
				<div class= "clear"/>	
				
		    </div>    
		        
		</div>
	</fieldset>
</form>

<script type="text/javascript">

$(function(){
	$('#dpMonths').datepicker()
	.on('changeDate', function(ev){
		dataFinanciamento = ev.date;
  });
});

$(document).ready(function(){
	
	var dataFinanciamento = new Date();
	$("#mesFinanciamento").hide();
	
	//Default = PF
	$("#tipoFinanciamentoFisica").show();
	$("#tpF").show();
	$("#tipoFinanciamentoJuridica").hide();
	$("#tpJ").hide();
	
	$("#divCalculos").hide();
	
	$('#formSimulador').validate({
    rules: {
      vlrFinanciado: {
        money: true
      },
      vlrParcelaAtual: {
        money: true
      },
      qtdParcelas: {
        required: true
      },
      qtdParcelasPagas: {
        required: true
      }
    },
		highlight: function(element) {
			$(element).closest('.control-group').removeClass('success').addClass('error');
		},
		success: function(element) {
			element
			.text('OK!').addClass('valid')
			.closest('.control-group').removeClass('error').addClass('success');
		}
  });	
	
	// Configuração para campos de Real.
	$("#vlrFinanciado").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
	$("#vlrParcelaAtual").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
	
});

function calcular(){
	// Busco o tipo de pessoa selecionado
	var tpPessoa = $('#tipo_pessoa > button.active').val();
	var tpFinanciamento;
	if(tpPessoa == "F"){
		tpFinanciamento = $('#tipo_financiamento_fisica > button.active').val();
	}
	else{
		tpFinanciamento = $('#tipo_financiamento_juridica > button.active').val();
	}
	
	if(typeof dataFinanciamento === 'undefined'){
		dataFinanciamento = new Date("October 13, 1910 11:13:00");
	}
	
	calcularAjax(tpPessoa, tpFinanciamento);
}
function calcularAjax(tpPessoa, tpFinanciamento){
	var listAction = #{jsRoute @Simulador.calcular(':vlrFinanciado', ':vlrParcelaAtual', ':qtdParcelas', ':qtdParcelasPagas', ':dataFinanciamento', ':tpPessoa', ':tpFinanciamento') /} 
  	$.ajax({
      url: listAction.url({vlrFinanciado: $("#vlrFinanciado").val().replace(".","").replace(",","."), vlrParcelaAtual: $("#vlrParcelaAtual").val().replace(".","").replace(",","."), qtdParcelas: $("#qtdParcelas").val(), qtdParcelasPagas: $("#qtdParcelasPagas").val(), dataFinanciamento: dataFinanciamento, tpPessoa: tpPessoa, tpFinanciamento: tpFinanciamento}),
      type: listAction.method,
      dataType: 'json',
      success : function(data) {
                $("#txtCalcVlrNovaParcela").val(data.vlrNovaParcela);
                $("#txtCalcVlrJurosNovo").val(data.vlrJurosNovo);
                $("#txtCalcVlrPagoIndevido").val(data.vlrPagoIndevido);
                $("#txtCalcVlrJurosAtual").val(data.vlrJurosAntigo);
           
           		$("#divCalculos").show();     
          }
    });
}

function apresentaDivMes(){
	if($("#mesFinanciamento").is(':visible'))
	{
		$("#mesFinanciamento").hide();
	}
	else
	{
		$("#mesFinanciamento").show();
	}
}

function apresentaDivTipoFincto(tipoPessoa){
	if(tipoPessoa != ""){
		if(tipoPessoa == "F"){
			$("#tipoFinanciamentoFisica").show();
			$("#tpF").show();
			$("#tipoFinanciamentoJuridica").hide();
			$("#tpJ").hide();
		}
		else{
			$("#tipoFinanciamentoJuridica").show();
			$("#tpJ").show();
			$("#tipoFinanciamentoFisica").hide();
			$("#tpF").hide();
		}
	}
}
</script>