#{extends 'internalMain.html' /}
#{set title:'Processo' /}


#{get 'moreStyles' /}
        <script src="@{'/public/javascripts/fileUpload.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/processo.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
 <div class="clear"></div>

#{list items:erros, as:'erro'}
	<div class="alert alert-error">
  		${erro}
  		
	</div>
#{/list} 
 
 <div id="topHero" class="hero-unit myhero">
 	<div class="dadosClientes">
		<h3>${cliente.usuario.nome}</h3>
  		<label><p><b>Profissao: </b>${cliente.profissao}</p></label>
  		<label><p><b>Renda Mensal: </b>${cliente.rendaMensalApresentacao}</p></label>
  		<label><p><b>End.: </b>${cliente.usuario.endereco}</p></label>
  		<label><p><b>CPF/CNPJ: </b>${cliente.usuario.cpfCnpj}</p></label>
  		<label><p><b>RG: </b>${cliente.usuario.rg}</p></label>
     </div>
</div>



#{form id: 'formProcesso', enctype:'multipart/form-data', action:@Processo.carrega() }

<fieldset>
<input type="hidden" id="idCliente" name="idCliente" value="${cliente.id}"/>
<input type="hidden" id="operacao" name="operacao" value="INCLUIR"/>
<input type="hidden" id="processo.id" name="processo.id" value="${idProcesso}"/>

<input type="hidden" id="isOnBuscaApreencao" name="isOnBuscaApreencao" value="${processo.isOnBuscaApreencao}"/>
<input type="hidden" id="isCasaPropria" name="isCasaPropria" value="${processo.isCasaPropria}"/>


<ul class="nav nav-tabs">
	    <li id="dadosProcessoLi" onclick="showDadosProc()" class="active"><a href="#">Dados Do Processo</a></li>
	    
	    #{if (processo.resposta != null) }
				<li id="histProcessoLi"  onclick="showHistProc()" ><a href="#">Resposta Do Processo</a></li>
		#{/if}
	    
</ul> 


<div id="dadosProcesso">
	<div id="calculos">
		<div class="leftBox">
		
			<span class="label label-important">Valor Financiado</span>
			<br />
			<input type="text" id="txtVlrFinanciado" name="calcVlrFinanciado" value="${processo.vlrFinanciado}" readonly="readonly">
			<div class= "clear"></div>
								
			<span class="label label-important">Qtd. de parcelas</span>
			<br />
			<input type="text" id="txtQtdParcelas" name="calcQtdParcelas" value="${processo.qtdParcelas}" readonly="readonly">
			<div class= "clear"></div>
								
			<span class="label label-important">Taxa de Juros Atual</span>
			<br />
			<input type="text" id="txtCalcVlrJurosAtual" name="calcVlrJurosAtual" value="${processo.vlrJurosAntigo}" readonly="readonly">
			
			<div class= "clear"></div>
			
			<span class="label label-success">Nova Taxas de Juros</span>
			<br />
			<input type="text" id="txtCalcVlrJurosNovo" name="calcVlrJurosNovo"  value="${processo.vlrJurosNovo}" readonly="readonly">
			
			
			
			#{if (processo.resposta != null) }
				<div class= "clear"></div>
				<lable class="active">Numero Processo</lable>
				<div id="descricao">
					<input type="text"  name="numeroProcesso" value="${processo.numeroProcesso}"></input>
				</div>
			#{/if}	
			#{else}
				<div class= "clear"></div>
			#{/else}
			
			
			<div class="control-group">
				<label class="control-label" for="dataAberturaProcesso">Data</label>
				<div class="controls">
				<input type="text" id="dataAberturaProcesso"  name="dataAberturaProcesso" value="${processo.dataAberturaProcesso.format()}"></input> 
					<span class="error">#{error 'banco'/}</span>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="banco">Banco</label>
				<div class="controls">
					<input type="text" id="banco"  name="banco" value="${processo.banco}"/> 
					<span class="error">#{error 'banco'/}</span>
				</div>
			</div>
			
		</div>
		
		<div class="rightBox">
			<div class= "clear"></div>
			<span class="label label-important">Valor atual da parcela</span>
			<br />
			<input type="text" id="txtVlrAtualparcela" name="calcVlrAtualParcela" value="${processo.vlrAtualParcela}" readonly="readonly">
			<div class= "clear"></div>	
							
			<span class="label label-important">Qtd. de parcelas parcelas</span>
			<br />
			<input type="text" id="txtQtdParcelasPagas" name="calcQtdParcelasPagas" value="${processo.qtdParcelasPagas}" readonly="readonly">
			<div class= "clear"></div>
						
			<span class="label label-important">Valor Pago Indevido</span>
			<br />
			<input type="text" id="txtCalcVlrPagoIndevido" name="txtCalcVlrPagoIndevido" value="${processo.vlrPagoIndevido}" readonly="readonly">
			<div class= "clear"></div>
			
			<span class="label label-success">Valor de Nova Parcela</span>
			<br />
			<input type="text" id="txtCalcVlrNovaParcela" name="txtCalcVlrNovaParcela" value="${processo.vlrNovaParcela}" readonly="readonly">
			<div class= "clear"></div>
			
			<div class="control-group">
				<label class="control-label" for="banco">Descricao do Processo</label>
				<div class="controls">
					<textarea type="text" id="textAreaInput"  id="textAreaInput" name="descricao" >${processo.descricao}</textarea> 
					<span class="error">#{error 'banco'/}</span>
				</div>
			</div>
			
			
		</div>
	</div>
	<!-- ****************************************** FIM DIV CALCULOS ************************************************************************************-->
	
	<ul class="nav nav-tabs">
		    <li class="active"><a href="#">Dados Do Cliente</a></li>
	</ul> 
	
	<div>
			<div class="control-group"> 
				<label class="control-label" for="isOnBuscaApreencao">Busca e apreensao</label>
				<div class="controls">
				 	<div class="btn-group" name="buscaApreencao" id="buscaApreencao" data-toggle="buttons-radio" >
				 		#{if processo.isOnBuscaApreencao == true}
					  		<button type="button"  onclick="setValueTo('S','isOnBuscaApreencao')" value="S" class="btn active" data-toggle="button">Sim</button>
					 		<button type="button"  onclick="setValueTo('N','isOnBuscaApreencao')" value="N" class="btn" data-toggle="button">Nao</button>
					 		
				 		#{/if}
				 		#{else}
					 		<button type="button" onclick="setValueTo('N','isOnBuscaApreencao')" value="S" class="btn" data-toggle="button">Sim</button>
					 		<button type="button" onclick="setValueTo('N','isOnBuscaApreencao')" value="N" class="btn active" data-toggle="button">Nao</button>
				 		#{/else}
				    </div>
				</div>
			</div>
		  
			<div class="control-group"> 
				<label class="control-label" for="tipo_pessoa">Casa Propria</label>
				<div class="controls">
				 	<div class="btn-group" name="casaPropria" id="casaPropria" data-toggle="buttons-radio" >
				 		#{if processo.isCasaPropria == true}
					  		<button type="button" onclick="setValueTo('S','isCasaPropria')" value="S"  class="btn active" data-toggle="button">Sim</button>
					  		<button type="button" onclick="setValueTo('N','isCasaPropria')" value="N" class="btn" data-toggle="button">Nao</button>
					  	#{/if}
					  	#{else}
					  		<button type="button" name="isCasaPropria" value="S"  class="btn" data-toggle="button">Sim</button>
					  		<button type="button" name="isCasaPropria" value="N" class="btn active" data-toggle="button">Nao</button>
					  	#{/else}
					  	
					</div>
			    </div>
			</div>
	</div>
	
	<!-- ****************************************** FIM DIV DADOS DOS CLIENTES ************************************************************************************-->
	<div class= "clear"></div>
	
	<ul class="nav nav-tabs">
	    <li class="active"><a href="#">Documentos Obrigatorios</a></li>
	</ul> 
	<div id="arquivos">
	    	
		
		<div id="fileUploadContainer">
			<div id="fileUploadContainerFiles">
			
			#{if (processo.procuracao == null) }
				<div id="processp.idProcuracao.novo">
					<div class="control-group">
						<label class="control-label" for="procuracaoDoc">Procuracao</label>
						<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						  		<div class="input-append">
							    	<div class="uneditable-input span3">
							    	<i class="icon-file fileupload-exists"></i> 
							    	<span class="fileupload-preview"></span>
							    	</div>
							    	<span class="btn btn-file">
							    	<span class="fileupload-new">Selecione o Arquivo</span>
							    	<span class="fileupload-exists">Alterar</span>
							    	<input id="procuracaoDoc" name="procuracaoDoc" type="file" />
							    	</span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
						        </div>
							</div>
						</div>
					</div><!-- Fim  control-grupo -->
				</div>
			#{/if}
			#{else}
			<div id="processoIdProcuracaoNovo"></div>
			<div id="processoIdProcuracaoEdit">
				<input  type="hidden" id="processo.idProcuracao" name="processo.idProcuracao" value="${processo.idProcuracao}"></input>
				<input disabled="disabled" type="text" id="processo.comment" name="processo.comment" value="${processo.procuracao.comment}"></input>
			     <a class="icon-download" href="downloadFile?id=${processo.idProcuracao}"></a>
			     <a class="icon-remove" onclick="removeDoc('procuracaoDoc','processoIdProcuracaoEdit','processoIdProcuracaoNovo','Procuracao')" href="#"></a> </br>
			 </div>
				
			#{/else}
			
			
			#{if (processo.declaracaoDeHipos == null) }
				<lable class="active">Declaracao de hipos</lable>
				<div class="fileupload fileupload-new" data-provides="fileupload">
			  		<div class="input-append">
				    	<div class="uneditable-input span3">
				    	<i class="icon-file fileupload-exists"></i> 
				    	<span class="fileupload-preview"></span>
				    	</div>
				    	<span class="btn btn-file">
				    	<span class="fileupload-new">Selecione o Arquivo</span>
				    	<span class="fileupload-exists">Alterar</span>
				    	<input id="declaracaoDoc" name="declaracaoDoc" type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
			        </div>
				</div>
			#{/if}
			#{else}
			
				<div id="processoIdDeclaracaoNovo"></div>
				<div id="processoIdDeclaracaoEdit">
				     <input  type="hidden" id="processo.idDeclaracao" name="processo.idDeclaracao" value="${processo.idDeclaracao}"></input>
					 <input disabled="disabled" type="text" id="processo.idDeclaracao" name="processo.idDeclaracao" value="${processo.declaracaoDeHipos.comment}"></input>
				     <a class="icon-download" href="downloadFile?id=${processo.idDeclaracao}"></a>
				     <a class="icon-remove" onclick="removeDoc('declaracaoDoc','processoIdDeclaracaoEdit','processoIdDeclaracaoNovo','Declaracao de hipos')" href="#"></a> </br>
				     
				 </div>
			#{/else}
			
			
			#{if (processo.docCarro == null) }
				   <lable class="active">Documento do carro</lable>
					<div class="fileupload fileupload-new" data-provides="fileupload">
				  		<div class="input-append">
					    	<div class="uneditable-input span3">
					    	<i class="icon-file fileupload-exists"></i> 
					    	<span class="fileupload-preview"></span>
					    	</div>
					    	<span class="btn btn-file">
					    	<span class="fileupload-new">Selecione o Arquivo</span>
					    	<span class="fileupload-exists">Alterar</span>
					    	<input id="docCarro" name="docCarro" type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
				        </div>
					</div>
			#{/if}
			#{else}
			
				<div id="processoIdDocCarroNovo"></div>
				<div id="processoIdDocCarroEdit">
					<input type="hidden" id="processo.idDocCarro" name="processo.idDocCarro" value="${processo.idRgCpf}"></input>
					<input disabled="disabled" type="text" id="processo.idDocCarro" name="processo.idDocCarro" value="${processo.docCarro.comment}"></input>
				     <a class="icon-download" href="downloadFile?id=${processo.idDocCarro}"></a>
				     <a class="icon-remove" onclick="removeDoc('docCarro','processoIdDocCarroEdit','processoIdDocCarroNovo','Documento do carro')" href="#"></a> </br>
				</div>
				
			#{/else}
			
			#{if (processo.comprovanteResidencia == null) } 
				
				<lable class="active">Comprovante de Residencia</lable>
				<div class="fileupload fileupload-new" data-provides="fileupload">
			  		<div class="input-append">
				    	<div class="uneditable-input span3">
				    	<i class="icon-file fileupload-exists"></i> 
				    	<span class="fileupload-preview"></span>
				    	</div>
				    	<span class="btn btn-file">
				    	<span class="fileupload-new">Selecione o Arquivo</span>
				    	<span class="fileupload-exists">Alterar</span>
				    	<input id="idComprovanteResidencia" name="idComprovanteResidencia" type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
			        </div>
				</div>
			#{/if}
			#{else}
				<div id="processoidComprovanteResidenciaNovo"></div>
				<div id="processoidComprovanteResidenciaEdit">
				    <input type="hidden" id="processo.idComprovanteResidencia" name="processo.idComprovanteResidencia" value="${processo.idComprovanteResidencia}"></input>
					<input disabled="disabled" type="text" id="processo.idComprovanteResidencia" name="processo.idComprovanteResidencia" value="${processo.comprovanteResidencia.comment}"></input>
				     <a class="icon-download" href="downloadFile?id=${processo.idComprovanteResidencia}"></a>
				     <a class="icon-remove" onclick="removeDoc('idComprovanteResidencia','processoidComprovanteResidenciaEdit','processoidComprovanteResidenciaNovo', 'Comprovante de Residencia')" href="#"></a> </br>
				 </div>
				
			#{/else}
				
				
			#{if (processo.rgOuCpf == null) }
				<lable class="active">Identidade/CPF</lable>
				<div class="fileupload fileupload-new" data-provides="fileupload">
			  		<div class="input-append">
				    	<div class="uneditable-input span3">
				    	<i class="icon-file fileupload-exists"></i> 
				    	<span class="fileupload-preview"></span>
				    	</div>
				    	<span class="btn btn-file">
				    	<span class="fileupload-new">Selecione o Arquivo</span>
				    	<span class="fileupload-exists">Alterar</span>
				    	<input id="idRgCpf" name="idRgCpf" type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
			        </div>
				</div>
			#{/if}
			#{else}
				<div id="processoidRgCpfNovo"></div>
				<div id="processoidRgCpfEdit">
					<input  type="hidden" id="processo.idRgCpf" name="processo.idRgCpf" value="${processo.idRgCpf}"></input>
					<input disabled="disabled" type="text" id="processo.idRgCpf" name="processo.idRgCpf" value="${processo.rgOuCpf.comment}"></input>
				     <a class="icon-download" href="downloadFile?id=${processo.idRgCpf}"></a>
				     <a class="icon-remove" onclick="removeDoc('idRgCpf','processoidRgCpfEdit','processoidRgCpfNovo','Identidade/CPF')" href="#"></a> </br>
				</div>
				
			#{/else}
				
			</div>
			    
			<!-- <input id="novoArquivo" class="btn btn-primary" type="button" value="Adicionar Novos Documentos"> -->
		</div>
	</div>
	<!-- ****************************************** FIM DOCUMENTOS OBRIGATORIOS ************************************************************************************-->
	
	<input id="salvarProcessoBtn" onclick="validaDocs()" class="btn btn-primary" type="submit" value="Salvar Processo">
	
	</fieldset>
	#{/}
	
</div>


<!-- ****************************************** FIM ABA DADOS PROCESSO ************************************************************************************-->
<div>

<div id="histProcesso">


#{if (processo.resposta != null) }
		<div class="txtAreaSendMsg" >
			<lable class="active">Comentario</lable>
			<div class="clear"></div>
			<textarea type="text" id="textAreaInput"  id="textAreaInput" name="descricao" >${processo.resposta.comentario}</textarea>
			<div class="clear"></div>
			<input disabled="disabled" type="text" id="processo.idRgCpf" name="processo.idRgCpf" value="${processo.resposta.anexo.comment}"></input>
		     <a class="icon-download" href="downloadFile?id=${processo.resposta.idDocumentoAnexo}"></a>
			
		</div>
#{/if}
</div>



    </body>
</html>
