#{extends 'internalMain.html' /}
#{set title:'Home' /}



#{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery.maskedinput.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
#{get 'moreScripts' /}

<a href="@{Simulador.index()}" role="button" class="addButton btn btn-primary" >Novo Processo</a>
<div class= "tableDiv ">

 <div class= "clear">
 <table class= "table table-hover table-bordered ">
      <thead>
                 <tr>
                   <th>Cliente</th>
                   <th>Banco</th>
                   <th>Tipo</th>
                   <th>Editar</th>
                   <th>Excluir</th>
                 </tr>
         </thead>
             <tbody>

             #{list items:processos, as:'processo'}
                <tr>
                   <td>${processo.cliente.usuario.nome}</td>
                   <td>${processo.banco}</td>
                   <td>${processo.tipoProcesso}</td>
                   <td><a href="#" data-toggle="modal">Editar</a></td>
                   <td><a href="#">Excluir</a></td>
                 </tr>
              #{/list}

 </table>
 </div>
 <div class= "tablePagination pagination ">
  <ul>
    <li><a href= "# ">Prev</a></li>
    <li><a href= "# ">1</a></li>
    <li><a href= "# ">2</a></li>
    <li><a href= "# ">3</a></li>
    <li><a href= "# ">Next</a></li>
  </ul>
 </div>
 </div>

</div>



