#{extends 'internalMain.html' /}
#{set title:'Processo' /}


#{get 'moreStyles' /}
        <script src="@{'/public/javascripts/fileUpload.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
 <div class="clear"></div>
 
 
 <div id="topHero" class="hero-unit myhero">
	
 	<div class="dadosClientes">
		<h3>${processo.cliente.usuario.nome}</h3>
  		<label>${processo.cliente.usuario.email}</label>
  		<label>${processo.cliente.usuario.telefone}</label>
     </div>
 
</div>
 
#{form @Processo.incluir(), enctype:'multipart/form-data'}

<input type="hidden" id="idCliente" name="idCliente" value="${processo.cliente.id}">

<lable class="active">Descricao do Processo</lable>
<div id="descricao">
	<textarea type="text" id="textAreaInput"  id="textAreaInput" name="descricao">${processo.descricao}</textarea>
</div>
 



<ul class="nav nav-tabs">
    <li class="active"><a href="#">Arquivos</a></li>
</ul> 
<div id="arquivos">

	#{list items:processo.documentos, as:'doc'}
	
	     <div class="input-append">
		    	<div class="uneditable-input span3">
		    	<i class="icon-file fileupload-exists"></i> 
		    	<span class="fileupload-preview">${doc.file.name}</span>
		    	</div>
		    	<span class="btn btn-file">
			    	<a href="${doc.file}" >Vizualisar</a>
			    	<input id="files" name="files" type="file">
		    	</span>
		    	<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
	     </div>
	  #{/list}    	
	
	<div id="fileUploadContainer">
		<div id="fileUploadContainerFiles">
			<div class="fileupload fileupload-new" data-provides="fileupload">
		  		<div class="input-append">
			    	<div class="uneditable-input span3">
			    	<i class="icon-file fileupload-exists"></i> 
			    	<span class="fileupload-preview"></span>
			    	</div>
			    	<span class="btn btn-file">
			    	<span class="fileupload-new">Selecione o Arquivo</span>
			    	<span class="fileupload-exists">Alterar  </span>
			    	<input id="files" name="files" type="file"  /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
		        </div>
			</div>
		</div>
		
		    
		<input id="novoArquivo" class="btn btn-primary" type="button" value="Novo Arquivo">
	</div>

</div>

<input id="salvarProcessoBtn" class="btn btn-primary" type="submit" value="Salvar Processo">

#{/}    	
    </body>
</html>