#{extends 'internalMain.html' /}
#{set title:'Home' /}



#{get 'moreStyles' /}
        <script src="@{'/public/javascripts/consultor.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.maskedinput.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
#{get 'moreScripts' /}

<a href="#myModal" role="button" class="addButton btn btn-primary" data-toggle="modal">Novo Cliente</a>
<div class= "tableDiv ">

 <div class= "clear">
 <table class= "table table-hover table-bordered ">
      <thead>
                 <tr>
                   <th>Nome</th>
                   <th>CPF</th>
                   <th>E-mail</th>
                   <th>Tel. Residencial</th>
                   <th>Celular</th>
                   <th>Processo</th>
                   <th>Editar</th>
                   <th>Excluir</th>
                 </tr>
         </thead>
             <tbody>

             #{list items:clientes, as:'cliente'}
                <tr>
                   <td>${cliente.usuario.nome}</td>
                   <td>${cliente.usuario.cpfCnpj}</td>
                   <td>${cliente.usuario.email}</td>
                   <td>${cliente.usuario.telResidencial}</td>
                   <td>${cliente.usuario.celular}</td>
                   <td><a href="@{Processo.carrega(cliente.id)}">Processo</a></td>
                   <td><a href="#myModal" data-toggle="modal">Editar</a></td>
                   <td><a href="">Excluir</a></td>
                 </tr>
              #{/list}

 </table>
 </div>
 <div class= "tablePagination pagination ">
  <ul>
    <li><a href= "# ">Prev</a></li>
    <li><a href= "# ">1</a></li>
    <li><a href= "# ">2</a></li>
    <li><a href= "# ">3</a></li>
    <li><a href= "# ">Next</a></li>
  </ul>
 </div>
 </div>




<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Novo Cliente</h3>
  </div>
  <div class="modal-body">
   #{form @Cliente.incluir() }
  <fieldset>
  
	<p> <strong> Tipo de Cliente </strong </p>
 	<div class="btn-group" id="tipo_pessoa" data-toggle-name="tipo_pessoa" data-toggle="buttons-radio" >
  		<button type="radio" name="tpPessoa" value="F" onClick="modificaMascara(this.value)" class="btn active" data-toggle="button">Físico</button>
  		<button type="radio" name="tpPessoa" value="J" onClick="modificaMascara(this.value)" class="btn" data-toggle="button">Jurídico</button>
	</div>
	<div class= "clear"> </div>
		  
    <input type="text" id="nome" name="nome" placeholder="Nome" value="${nome}">
	<br/>
    <input type="text" placeholder="Endereço" id="endereco" name="endereco" value="${endereco}">
	<br/>	
    <input type="text" placeholder="E-mail" id="email" name="email" value="${email}">
	<br/>
    <input type="text" placeholder="Telefone Residencial" id="telResidencial" name="telResidencial" value="${telResidencial}">
	<br/>
    <input type="text" placeholder="Celular" id="celular" name="celular" value="${celular}">
	<br/>			
	<input type="text" id="rg" name="rg" placeholder="RG" value="${rg}">
	<br/>	
    <input type="text" id="cpfCnpj" name="cpfCnpj" placeholder="CPF/CNPJ" value="${cpfCnpj}">
	<br/>

  </fieldset>
 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
#{/form}

</div>



