<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-responsive.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-fileupload.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/datepicker.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/validation.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/DT_bootstrap.css'}">
		
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/glyphicons-halflings.png'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/glyphicons-halflings-white.png'}">

		
        <script src="@{'/public/javascripts/jquery-1.9.min.js'}" type="text/javascript" ></script>
        <script src="@{'/public/javascripts/jquery.validate.js'}" type="text/javascript" ></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" ></script>
		<script src="@{'/public/javascripts/bootstrap-fileupload.min.js'}" type="text/javascript" ></script>
		<script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript" ></script>
		<script src="@{'/public/javascripts/bootstrap-dropdown.js'}" type="text/javascript" ></script>
		<script src="@{'/public/javascripts/jquery.maskMoney.js'}" type="text/javascript" ></script>
		<script src="@{'/public/javascripts/jquery.maskedinput.min.js'}" type="text/javascript" ></script>
		<script src="@{'/public/javascripts/util-jquery.validate.js'}" type="text/javascript" ></script>
		<script src="@{'/public/javascripts/DT_bootstrap.js'}" type="text/javascript"></script>
		<script src="@{'/public/javascripts/jquery.dataTables.js'}" type="text/javascript"></script>	
		<script src="@{'/public/javascripts/util.js'}" type="text/javascript" ></script>	
		                
    </head>
    <body>
    
	<div id="navbar-example" class="navbar navbar-static">
              <div class="navbar-inner">
                <div class="container" style="width: auto;">
					#{ if (others.Util.getTipousuarioLogado() == "A")}                
                  		<a class="brand" href="@{Processo.lista()}">SiaConsul</a>
					#{/if}	
					#{else}
						<a class="brand" href="@{Application.home()}">SiaConsul</a>
					#{/else}                  		
                  <ul class="nav" role="navigation">
                    
                    #{ if (others.Util.getTipousuarioLogado() != "A")}
                    <li class="dropdown">
                      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Clientes<b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@{Cliente.index()}">Inserir</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@{Application.home()}">Listar</a></li>
                      </ul>
                    </li>
                    #{/if}
                    
					<ul class="nav">
  						<li><a href="@{Processo.lista()}">Processos</a></li>
					</ul>
					<ul class="nav">
  						<li><a href="@{Simulador.index()}">Simulador</a></li>
                      </ul>
                    </li></ul>
					<ul class="nav pull-right">
						<li><a href="@{Application.logout()}">Logout</a></li>
					</ul>
                </div>
              </div>
            </div>
		#{doLayout /}
    </body>
</html>

<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>
